<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="JavaScript/myJavaScript.js"></script>
</head>
<body>
    <div>
        <input type="button" value="Click Me" onclick="square(5)">
    </div>
    <div ng-app="myApp1"> 
        First Name: <input type="text" ng-model="firstName">
        {{firstName}}
    </div>

    <div ng-app="myApp2">
        Second Name: <input type="text" ng-model="secondName">
        {{secondName}}
    </div>
  
    <script>
        var myApp2 = angular.module('myApp2', []);
        var myApp1 = angular.module('myApp1', []);
    </script>
</body>
</html>